# Pasos previos

Primero importanmos la librería con la cual trabajaremos, nos conectamos a la base de datos y creamos una función que nos será de útilidad más adelante

In [ ]:
import sqlite3
from random import randint

In [ ]:
connection = sqlite3.connect('mental_health.sqlite')   
cursor = connection.cursor()

In [ ]:
def execute_query(cursor, query):
  cursor.execute(query)
  response = cursor.fetchall()
  for row in response:
    text = ""
    for element in row:
        text += str(element)
        text += " | "
    print(text)

# Misión 1

#### Elija un ID de pregunta cualquiera. Obtenga el texto de la pregunta del ID seleccionado desde la tabla de preguntas.

| SELECT | FROM | WHERE |
| :-: | :-: | :-: |
| Texto de la pregunta | Tabla Preguntas | ID elegido |
| QuestionText | Question | ID |

In [ ]:
execute_query(cursor, "SELECT COUNT(*) FROM Question")

In [ ]:
id = randint(1,105)

#### Elija un ID de pregunta cualquiera. Cuente cuántas respuestas tiene la pregunta del ID seleccionado

| SELECT | FROM | WHERE | GROUP BY |
| :-: | :-: | :-: | :-: |
| Contar Respuestas | Tabla Respuestas | ID Question | Agrupar por id |
| Count(*) | Answer| QuestionId = ID | QuestionId |

In [ ]:
q_id = randint(1,105)

#### En la tabla d respuestas, encuentre el ID de la pregunta con la mayor cantidad de respuestas

| SELECT | FROM | GROUP BY | ORDER BY | LIMIT |
| :-: | :-: | :-: | :-: | :-: |
| Id Pregunta | Tabla Respuestas | Agrupar por id respuesta | ORDERNAR DESENDENTEMENTE | queremos 1 respuesta |
| QuestionId | Answer| QuestionId | DESC | 1 |

# Misión 2

#### Liste para cada respuesta, la descripción de la Encuesta en la que se hizo. Limite su respuesta a 10 elementos.

Para los joins recomiendo ir por parte, primero unamos ambas tablas

#### Muestre tanto el texto, como ID y cantidad de respuestas que obtuvo cada pregunta.

# Misión 3

#### Para cada respuesta, obtenga la descripción de la encuesta, el texto de la pregunta, qué respuesta se dió y qué usuario fue.

 Como estamos haciendo consultas anidadas, recomuendi primero hacer una consulta, ver que me retorne lo que deseo. Para luego hacer la consulta completa.

In [ ]:
sub_query = "SELECT S.Description, A.AnswerText, A.UserId, A.QuestionId FROM Answer A, Survey S WHERE A.SurveyId = S.SurveyId"
execute_query(cursor, sub_query)

Esta query en particular la podriamos haber hecho con un join triple

#### Para un ID de pregunta especifico, cuente la cantidad de respuestas que tiene cada respuesta diferente y muestre las 10 mayores. El resultado, debe mostrar la descripción de la encuesta, el texto de la pregunta, qué respuesta se dió, qué usuario fue y el conteo de respuestas diferentes.

In [ ]:
q_id = randint(1, 105)
sub_query = f"SELECT A.QuestionId, A.SurveyId, A.AnswerText, count(*) AS count FROM Answer A WHERE A.QuestionId={q_id} GROUP BY A.AnswerText ORDER BY count(*) DESC LIMIT 10"
execute_query(cursor, sub_query)

# Bonus

#### Para la id de pregunta 1, mueste el promedio de respuestas para cada Encuesta realizada. Muestre en su respuesta, el nombre de la encuesta en que fue realizada, el texto de la pregunta y el promedio de respuesta

#### Para la respuesta 2, Indica que proporcion de personas se identificaron como hombres en la respuesta. La consulta debe mostrar, descripción de la encuesta, texto de la pregunta y el porcentaje.

# Cerramos la conexión

In [ ]:
connection.close()